/* regra css */


/* sempre considera o ultimo elemento */


/* seletor univesal */

* {
    margin: 0;
    padding: 0;
}

body {
    /* quero que ele ocupe  */
    height: 100vh;
    color: white;
    background: linear-gradient(329.54deg, #29b6d1, #00c7c7 100%) no-repeat;
    /* plano de fundo chama a função com parametro em graus */
}


/* #
coloca o tamanho padrao de fonte para quando utilizarmos medida rem, buscar
no root */

:root {
    font-size: 13px;
}

body,
input,
button,
textarea {
    /* font-weight: 400;
    font-size: 18px;
    line-height: 1;
    /* se nao achar o padrao coloca sans serif */
    /* font-family: "Nunito", sans-serif;
    short form */
    /* rem busca do root */
    font: 400 1.8rem/1 'Nunito', sans-serif;
}


/* faixa de cima */


/* para aparecer um de cada vez */

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

visit a {
    animation-delay: 250ms;
}