/* faixa de cima */


/* todos os itens na page-landing */

#page-landing {
    background: linear-gradient(329.54deg, #29b6d1, #00c7c7 100%) no-repeat;
    text-align: center;
    min-height: 100vh;
    display: flex;
}

#container {
    margin: auto;
    width: 90%;
}

.location,
h1,
.visit p {
    height: 16vh;
}


/* botao */

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;
    border: none;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: background .200ms;
}

.visit a:hover {
    background: #96feff;
}